<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/primeiroprojetobd</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">alysson.passos</property>

		<!-- Pool de Conexões -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="hibernate.show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hibernate.hbm2ddl.auto">validate</property>

		<mapping class="com.pro.alysson.primeiroprojeto.domain.Cidade" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Cliente" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Estado" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Fabricante" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Funcionario" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.ItemVenda" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Pessoa" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Produto" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Usuario" />
		<mapping class="com.pro.alysson.primeiroprojeto.domain.Venda" />

	</session-factory>

</hibernate-configuration>
